/* Write your code here. */
body {
  margin: 0;
  font-family: 'Roboto';
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #f1f5f8;
}
.faqs-app-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  justify-content: space-around;
}
.heading {
  color: #cb8805;
  font-size: 32px;
  text-align: center;
}
.faqs-container {
  display: flex;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
}
